<navbar></navbar>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <h1>Products</h1>
      <p ng-show="items.length < 1">No products to show.</p>
      <a ui-sref="newProduct">New Product</a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="product in display.items">
      <div class="thumbnail">
        <img src="{{product.picture.url | fpConvert: {filter:'sharpen', w:300, h:150} }}" alt="{{product.title}}">
        <div class="caption">
          <h3>{{product.title}}</h3>
          <p>{{product.description | limitTo: 100}} ...</p>
          <p>
            <ngcart-addtocart id="{{product._id}}" quantity="1" quantity-max="9"
                              name="{{product.title}}" price="{{product.price}}" template-url="cart/cartTemplates/addtocart.html" data="product">Add to cart</ngcart-addtocart>
            <a ui-sref="viewProduct({id: product._id})" class="btn btn-default" role="button">Details</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>